In [1]:
import pymysql
import pandas as pd
import os
import json
import mysql.connector

In [2]:
con = pymysql.connect(
    host = 'host_name',
    user = 'user_name',
    passwd = 'password',
    db = 'db_name')
cursor = con.cursor()

In [3]:
file = os.path.abspath("new.json")
json_data = open(file).read()
json_obj = json.loads(json_data)

In [4]:
cursor.execute("CREATE TABLE IF NOT EXISTS rates (id NVARCHAR(64), FOREIGN KEY (id) REFERENCES main(id), rate FLOAT(10), total_reviews INT(64), good INT(64), neutral INT(64), bad INT(64))")

0

In [5]:
for data_item in json_obj["items"]:
    id = data_item["id"]
    rate = data_item["rate"]
    total_reviews = data_item["total_reviews"]
    good = data_item["overall_summary"]["good"]
    neutral = data_item["overall_summary"]["neutral"]
    bad = data_item["overall_summary"]["bad"]
    cursor.execute("INSERT INTO rates (id, rate, total_reviews, good, neutral, bad) VALUES (%s, %s, %s, %s, %s, %s)", (id, rate, total_reviews, good, neutral, bad))

con.commit()

In [6]:
cursor.execute("SHOW TABLES")
cursor.fetchall()

(('address',), ('main',), ('rates',))

In [7]:
pd = pd.read_sql("SELECT * FROM rates", con)
pd

C:\Users\Fazel\AppData\Local\Temp\ipykernel_1824\2391659925.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd = pd.read_sql("SELECT * FROM rates", con)

                                   id  rate  total_reviews  good  neutral  bad
0    ae03aa67a4f811edb2c440b0760dd4ca   4.0          249.0   161       50   21
1    aee37234a4f811edb90840b0760dd4ca   4.4          491.0   400       83   29
2    b05fe082a4f811edadf040b0760dd4ca   4.3          194.0   137       43   10
3    b17de127a4f811eda70e40b0760dd4ca   4.5          264.0   239       35   13
4    b2a7ea13a4f811edb3e640b0760dd4ca   4.4          502.0   448       89   26
..                                ...   ...            ...   ...      ...  ...
913  96477f4ea51911ed893640b0760dd4ca   0.0            NaN     0        0    0
914  97838181a51911ed8f6140b0760dd4ca   0.0            NaN     2        0    0
915  98f7a9eaa51911ed87fc40b0760dd4ca   0.0            NaN     3        0    0
916  9a9c6f77a51911ed9c5f40b0760dd4ca   0.0            NaN     0        0    0
917  9bae5447a51911ed83bc40b0760dd4ca   0.0            NaN     0        0    0

[918 rows x 6 columns]